# JavaCloud configuration file

#package.name=au.com.javacloud.jcframe

#auth.class=au.com.javacloud.auth.BaseAuthServiceImpl
#viewgen.class=au.com.javacloud.view.ViewGeneratorImpl
#ds.class=au.com.javacloud.dao.BaseDataSource
#ds.config.file=db.properties
