# JavaCloud configuration file

#package.name=au.com.javacloud.jcframe

#serviceloader.class=au.com.javacloud.jcframe.service.ServiceLoaderImpl
#auth.class=au.com.javacloud.jcframe.auth.BaseAuthServiceImpl
#daolookup.class=au.com.javacloud.jcframe.service.DAOLookupServiceImpl
#viewgen.class=au.com.javacloud.jcframe.view.ViewGeneratorImpl
#ds.class=au.com.javacloud.jcframe.dao.BaseDataSource
#ds.config.file=db.properties
